connections.inc
events.inc
groups.inc
headers.inc
**/connections.inc
**/events.inc
**/header.inc
OldaleTown_Mart/scripts.inc
DewfordTown_House3/scripts.inc
FallarborTown_CozmosHouse/scripts.inc
LilycoveCity_DepartmentStore_2F/scripts.inc
LilycoveCity_DepartmentStore_3F/scripts.inc
LilycoveCity_DepartmentStore_4F/scripts.inc
MauvilleCity/scripts.inc
MauvilleCity_GameCorner/scripts.inc
PacifidlogTown_House2/scripts.inc
Route104/scripts.inc
ScorchedSlab_HiddenRoom/scripts.inc
SlateportCity/scripts.inc
SlateportCity_OceanicMuseum_1F/scripts.inc
SSTidalCorridor/scripts.inc
SSTidalRooms/scripts.inc
LittlerootTown/scripts.inc
GraniteCave_1F/scripts.inc
LilycoveCity_MoveDeletersHouse/scripts.inc
Route111/scripts.inc
Route104North/scripts.inc
Route104South/scripts.inc
Starfall_Glacier/scripts.inc
LilycoveCity/scripts.inc
MtPyre_6F/scripts.inc
MeteorFalls_B1F_2R/scripts.inc
Umbra_Inlet/scripts.inc
ShadespurPokemonCenter/scripts.inc
ShadespurHouse1/scripts.inc
ShadespurHouse2/scripts.inc
MossdeepCity_SpaceCenter_2F/scripts.inc
SeafloorCavern_Room9/scripts.inc
Route118/scripts.inc
EverGrandeCity_SidneysRoom/scripts.inc
EverGrandeCity_PhoebesRoom/scripts.inc
EverGrandeCity_GlaciasRoom/scripts.inc
EverGrandeCity_DrakesRoom/scripts.inc
LavaridgeTown/scripts.inc
LibertyGarden_Basement/scripts.inc
LilycoveCity_Harbor/scripts.inc
Flower_Garden/scripts.inc
Route123/scripts.inc
EverGrandeCity_PokemonLeague_1F/scripts.inc
LittlerootTown_ProfessorBirchsLab/scripts.inc
RustboroCity_DevonCorp_3F/scripts.inc
Route111_WinstrateFamilysHouse/scripts.inc
Route114_LanettesHouse/scripts.inc
LilycoveCity_CoveLilyMotel_1F/scripts.inc
LilycoveCity_CoveLilyMotel_DarkraiRoom/scripts.inc
ObsidianShores_House1/scripts.inc
Route111_OldLadyRestStop/scripts.inc
SeafloorRuins/scripts.inc
SlateportCity_Harbor/scripts.inc
MossdeepCity/scripts.inc
NewMauville_SecretRoom/scripts.inc
IlexForest/scripts.inc
RustboroCity_DevonCorp_2F/scripts.inc
PetalburgCity_WallysHouse/scripts.inc
AbandonedShip_Room_B1F/scripts.inc
Shadespur_Isle/script.inc
SootopolisCity/scripts.inc
LavaridgeTown_Mart/scripts.inc
Route117/scripts.inc
MossdeepCity_StevensHouse/scripts.inc
Route114/scripts.inc
VerdanturfTown_WandasHouse/scripts.inc
PetalburgCity_Gym/scripts.inc
FallarborTown/scripts.inc
FallarborTown_MoveRelearnersHouse/scripts.inc
Route110/scripts.inc
SootopolisCity_House2/scripts.inc
MauvilleCity_House2/scripts.inc
PacifidlogTown/scripts.inc
SafariZone_North/scripts.inc
Route120/scripts.inc
